name: keevault
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 2.5.0+58

environment:
  sdk: '>=3.9.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  logger: ^2.6.2
  logging: ^1.3.0
  kdbx:
    git:
      url: https://github.com/kee-org/kdbx.dart.git
      ref: master
  path_provider: ^2.1.3
  biometric_storage:
    git:
      url: https://github.com/kee-org/biometric_storage.git
      ref: keevault

  package_info_plus: ^8.3.1
  shared_preferences: ^2.5.3 # at least 2.3.4 for security patch
  flutter_settings_screens:
    git:
      url: https://github.com/Juggler98/flutter_settings_screens.git
      ref: 52ac240b7ae0cf48b723818ee233565fd562bc13 # 0.3.4 is incompatible with MD2
  argon2_ffi:
    git:
      url: https://github.com/kee-org/argon2_ffi.git
      ref: master
  flutter_autofill_service: ^0.20.0
    # git:
    #   url: https://github.com/kee-org/flutter_autofill_service.git
    #   ref: master
  bloc: ^9.1.0
  flutter_bloc: ^9.1.1
  fluro: ^2.0.5
  dio: ^5.9.0
  dart_jsonwebtoken: ^3.3.1
  pointycastle: ^4.0.0
  srp:
    git:
      url: https://github.com/kee-org/srp.dart.git
      ref: master
  animations: ^2.0.11
  font_awesome_flutter: ^10.8.0
  public_suffix: ^3.0.0
  url_launcher: ^6.3.2
  otp: ^3.2.0
  tuple: ^2.0.2
  collection: ^1.19.1
  jiffy: ^6.4.3
  # characters: ^1.2.0
  flutter_treeview:
    git:
      url: https://github.com/kee-org/flutter_treeview.git
      ref: 2d8b123b1a0404c93434b46e4a3e29fe7621c65d
  flutter_chips_input:
    git:
      url: https://github.com/kee-org/flutter_chips_input.git
      ref: master
  
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^1.0.8
  flutter_persistent_queue:
    git:
      url: https://github.com/kee-org/flutter_persistent_queue
      ref: 1af584c486f79745d82a370361d5dabf0770f18e

  flutter_localizations:
    sdk: flutter
  matomo_tracker: ^6.1.0
  
  file_picker: ^10.3.3
  zxcvbn: ^1.0.0
  flutter_rating_bar: ^4.0.1
  mime: ^2.0.0
  share_plus: ^11.1.0
  path: ^1.9.0 #flutter sdk always lags behind so upgrade this only when needed
  permission_handler: ^12.0.1
  flutter_file_dialog: ^3.0.2
  base32: ^2.2.0
  flutter_speed_dial: ^7.0.0
  receive_intent: #^0.2.7
    git:
      url: https://github.com/daadu/receive_intent
      ref: master
  platform: ^3.1.6
  email_validator: ^3.0.0
  convert: ^3.1.2
  meta: ^1.16.0
  argon2_ffi_base: ^1.1.1
  uuid: ^4.5.2
  clock: ^1.1.2
  flutter_inapp_purchase: ^5.6.2
    # git:
    #   url: https://github.com/kee-org/flutter_inapp_purchase
    #   ref: main
  sensitive_clipboard: 
    git:
      url: https://github.com/kee-org/sensitive_clipboard
      ref: master
  #rate_my_app: ^2.2.0
  rate_my_app: 
    git:
      url: https://github.com/kee-org/RateMyApp
      ref: api34
  archive: ^4.0.7
  device_info_plus: ^11.5.0
  barcode_scan2: ^4.5.1
  flex_color_scheme: ^8.3.1
  # barcode_scan2:
  #   git:
  #     url: https://github.com/kee-org/barcode_scan2
  #     ref: main

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_launcher_icons: "^0.14.4"
  flutter_lints: ^6.0.0
  dependency_validator: ^5.0.3
  flutter_native_splash: ^2.4.7
  #patrol: ^2.2.3

dependency_overrides:
  # kdbx:
  #   path: ../kdbx.dart/
  # flutter_autofill_service:
  #   path: ../flutter_autofill_service/
  # barcode_scan2:
  #   path: ../barcode_scan2/
  # receive_intent:
  #   path: ../receive_intent/

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec
# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true 
  
  assets:
    - assets/
  
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages
  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
flutter_intl:
  enabled: true

flutter_launcher_icons:
  android: true
  ios: true
  image_path: "assets/icon/v-light-key-512.png"
  image_path_ios: "assets/icon/v-light-key-512-no-transparency-1eighthpadding.png"

patrol:
  app_name: Kee Vault
  android:
    package_name: com.keevault.keevault
  ios:
    bundle_id: com.keevault.keevault.dev