<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>com.apple.developer.authentication-services.autofill-credential-provider</key>
        <true/>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.keevault.keevault</string>
	</array>
        <key>keychain-access-groups</key>
        <array>
            <string>$(AppIdentifierPrefix)com.keevault.keevault.autofill</string>
            <string>$(AppIdentifierPrefix)com.keevault.keevault.shared.default</string>
            <string>$(AppIdentifierPrefix)com.keevault.keevault.shared.entries</string>
        </array>
    </dict>
</plist>
