<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
   <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules">
        <!-- There's an Android bug that causes biometric authentication crashes 
        if backups are not enabled but we don't actually want to enable them.
        Thus we turn them on but ensure only empty entities are included. -->

        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".AutofillActivity"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        
        <meta-data android:name="com.keevault.flutter_autofill_service.ACTIVITY_NAME"
            android:value="com.keevault.keevault.AutofillActivity" />
        <meta-data android:name="com.keevault.flutter_autofill_service.SAVE_ACTIVITY_NAME"
            android:value="com.keevault.keevault.MainActivity" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.service_short_name"
            android:value="Kee Vault" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.match_header_drawable_name"
            android:value="ic_v_light_key_24dp" />
        <meta-data
            android:name="com.keevault.flutter_autofill_service.pinned_drawable_name"
            android:value="ic_v_light_key_24dp" />

        <service
            android:name="com.keevault.flutter_autofill_service.FlutterAutofillService"
            tools:replace="label"        
            android:label="@string/flutter_autofill_service_label">

            <meta-data
                android:name="com.keevault.flutter_autofill_service.unlock_label"
                android:value="Autofill with Kee Vault" />
            <meta-data
                android:name="com.keevault.flutter_autofill_service.unlock_drawable_name"
                android:value="ic_v_light_key_24dp" />
        </service>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- implicitly READ too. Used for file import / export, attachment export, etc. -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- TOTP QR scanning -->
    <uses-permission android:name="android.permission.CAMERA" />

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
    </queries>
</manifest>
