#include "Generated.xcconfig"
#include "KeeVault-defaults.xcconfig"
#include "KeeVault-generated.xcconfig"

CODE_SIGN_ENTITLEMENTS=./KeeVaultAutofill/KeeVaultAutofill$(KEEVAULT_ID_SUFFIX).entitlements
KEE_VAULT_SHARED_DEFAULT_ACCESS_GROUP=$(AppIdentifierPrefix)com.keevault.keevault.shared.default$(KEEVAULT_ID_SUFFIX)